<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>

	<body>
		<%- include('./partials/header.ejs') %>

		<div class="container">
			<div class="getContainer">
				<div class="headFlex">
					<span class="headName flexItem">Name</span>
					<span class="headRollno flexItem">Roll No</span>
					<span class="headAddress flexItem">Address</span>
				</div>
				<% if (student.length > 0) { %>
				<div class="itemFlex">
					<% for (let item in student) { %>
					<a class="delete" data-doc="<%= student[item]._id %>">
						<span class="name flexItem"><%= student[item].name %></span>
						<span class="rollno flexItem"><%= student[item].rollno %></span>
						<span class="address flexItem"><%= student[item].address %></span>
					</a>
					<% } %>
				</div>
				<% } else { %>
				<p class="warning">No student to display</p>
				<% } %>
				<button class="postToggleBtn btn">Create student</button>
			</div>
			<div class="postContainer">
				<form action="/student" method="POST">
					<label for="name">Enter student name</label>
					<input type="text" name="name" id="name" required />
					<label for="rollno">Enter roll no</label>
					<input type="text" name="rollno" id="rollno" />
					<label for="address">Enter Address</label>
					<textarea name="address" id="address"></textarea>
					<button>Submit</button>
				</form>
			</div>
		</div>

		<script>
			const toggleBtn = document.querySelector('.postToggleBtn');
			const postContainer = document.querySelector('.postContainer');
			toggleBtn.addEventListener('click', () => {
				postContainer.classList.toggle('active');
			});

			const trashcan = document.querySelectorAll('a.delete');

			for (let i = 0; i < trashcan.length; i++) {
				trashcan[i].addEventListener('click', () => {
					const endPoint = `/student/${trashcan[i].dataset.doc}`;

					fetch(endPoint, {
						method: 'DELETE',
					})
						.then((response) => response.json())
						.then((data) => (window.location.href = data.redirect))
						.catch((err) => console.log(err));
				});
			}
		</script>
	</body>
</html>
